<app-navbar>

</app-navbar>

<div class=" contenedor card bordes mb-3">
    <h5>
        <div class="card-header card-title cabecera">Listado de Suscriptores</div>
    </h5>
    <div class="card-body text-info">

        <div *ngIf="clientes?.length==0" class="alert alert-info">No hay registros ern la base de datos</div>
        <table class="table table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">email</th>
                    <th scope="col">fecha</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <th scope="row">{{cliente.id}}</th>
                    <td>{{cliente.username}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}to</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt}}</td>
                    <td> <button class="btn btn-rounded boton" [routerLink]="['/clientes/form', cliente.id]">Editar cliente</button>
                    </td>
                    <td> <button class="btn btn-rounded btn-danger" (click)='delete(cliente)'>Eliminar cliente</button>
                    </td>
                </tr>

            </tbody>
            <div class="row">
                <button class="btn btn-rounded boton" [routerLink]="['/clientes/form']">Crear nuevo</button></div>
        </table>
        <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
</div>