<app-navbar>

</app-navbar>


<div class="row ">

    <div class="col-lg-8 ">
        <app-comercio>

        </app-comercio>
    </div>
    <div class="col-lg-4">


        <app-menu-lateral></app-menu-lateral>
    </div>
    <div class="row ">
        <div class="col-lg-8 ">

        </div>
    </div>
</div>

<div class="row">

    <div class="col-lg-8 ">


        <app-comentarios></app-comentarios>
    </div>

</div>



<div class="row">
    <div class="col-lg-12">

        <app-footer></app-footer>
    </div>
</div>