<div class="col-md-12 contenedor ">
    <ul class="  ">
        <li>
            <button (click)="verActividad( 'restaurante') " type="button " class="btn btn-outline-dark "> Restaurantes</button>

        </li>
        <li>
            <button (click)="verActividad( 'farmacia') " type="button " class="btn btn-outline-dark "> Farmacias</button>

        </li>
        <li>
            <button (click)="verActividad( 'hotel') " type="button " class="btn btn-outline-dark "> Hoteles</button>

        </li>
        <li>
            <button (click)="verActividad( 'libreria') " type="button " class="btn btn-outline-dark "> Librerias</button>

        </li>
        <li>
            <button (click)="verActividad( 'otros') " type="button " class="btn btn-outline-dark "> otros</button>

        </li>

    </ul>

</div>


<!--     <div class=" col-md-6 " style="border:1px solid green ">
            <div class="col-lg-6 " *ngFor="let comercio of comercios; let i=index ">
                <div class="contenedor " *ngIf="i==0 ">
                    <img [src]="comercio.img " id="imagendinamica " />
                    <h2> <a href="https://google.es " id="parrafo ">ver mas...</a></h2>
                </div>
            </div>

        </div>
    </div>
</div>


<div class=" col-lg-12 col-md-12 " style="border:1px solid green ">
    <span *ngFor="let comercio of comercios; let i=index ">
        <div class="contenedor " *ngIf="i==0 ">
            <img [src]="comercio.img " id="imagendinamica " />
            <h2> <a href="https://google.es " id="parrafo ">ver mas...</a></h2>
        </div>
    </span>

</div>-->