.boton {
    background: #00004d;
    color: white
}

.boton:hover {
    color: white;
    background: #1d1936;
}

* {
    background: white;
}

h3 {
    text-align: center;
}

.row {
    width: 100%;
    margin: 0%;
}

.contenedor {
    margin-top: 5%;
    padding-top: 70px;
}

.graficoBarra,
div .row {
    padding-top: 5%;
}

.barras {
    padding-right: auto;
    padding-left: auto;
}

.graficoBarra {
    padding-right: 50px;
}

h4 {
    padding-left: 50px;
}