<div class="container-fluid wrapper">
    <div class="row justify-content-center ">

        <div class="col-md-6 hijo" *ngFor="let comercio of comercios; let i=index ">

            <div class="row align-items-center " *ngIf="i<=5">
                <div class="card sombras" (mouseover)="sombreado()" style="width: 18rem;">
                    <img src="http://localhost:8080/api/descargas/img/{{comercio.img}}" class="card-img-top" alt="...">
                    <div class="card-body sombreadopie">
                        <h5 class="card-title">{{comercio.nombre}}</h5>

                        <p class="card-text capitalice"><small class="text-muted">{{comercio.actividad}}- {{comercio.createAt | date: 'mediumDate'}}</small></p>
                        <p class="card-text entrada">{{comercio.entrada}}</p>

                    </div>

                    <div class="card-footer social" (click)="corazones();">
                        <div class="row social">

                            <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12 ">
                                <a href='{{comercio.facebook}}' class="thumbnail ">
                                    <i class="fab fa-facebook-f"></i>
                                </a>

                                <a href="javascript:void(0);" (click)="addLike(comercio.id);">
                                    <i id="heart" class="far fa-heart "></i>{{comercio.likes}}
                                </a>


                                <a [routerLink]="[ '/comercios', comercio.id] " class="thumbnail ">
                                    <i class="far fa-comment"></i>{{comercio.comentarios.length}}
                                </a>

                            </div>

                            <div class=" col-lg-6 col-md-4 col-sm-6 col-xs-12 pie "> <a [routerLink]="[ '/comercios', comercio.id] "> ver más...</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>