<!--<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon ">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                LOGO
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a class="" [routerLink]="['/home']">Home</a>
                    </li>

                    <li><a href="#">Blog</a></li>
                    <li>
                        <a class="" (click)="Autenticarse()" [routerLink]="['/clientes/form']">Suscribirse</a>

                    </li>
                    <li><a href="#">Contacto</a></li>
                    <li>
                        <form action="#" class="search-top-form">
                            <span class="icon fa fa-search"></span>
                            <input type="text" id="s" placeholder="para buscar escribe y enter..." #buscarSitio (keyup.enter)="findByName(buscarSitio.value); ">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
    </div>
</div>-->
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12 nab-bar">


            <nav>
                <div class="menu-icon ">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    D'IXX al XXI
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a class="" [routerLink]="['/home']">Home</a>
                        </li>

                        <li><a href="#">Blog</a></li>
                        <li>
                            <a class="" (click)="Autenticarse()" [routerLink]="['/clientes/form']">Suscribirse</a>

                        </li>
                        <li><a href="#">Contacto</a></li>
                        <li>
                            <form action="#" class="search-top-form">
                                <input type="text" id="s" placeholder="para buscar escribe y enter..." #buscarSitio (keyup.enter)="findByName(buscarSitio.value); ">
                                <span class="icon fa fa-search"></span>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>