<!--<h4>
    Formularios <small>template</small></h4>
<hr>
<form [formGroup]="form" (ngSubmit)="guardarCambios();">

    <div>

        <div class="form-group row" [ngClass]="{'peligro':!form.get('nombre').valid}">
            <label class="col-2 col-form-label">Nombre de Usuario</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="username" name="username" formControlName="username">
                <div *ngIf="form.controls['username'].errors?.required" class="form-control-feeback">Este campo es requerido</div>
                <div *ngIf="form.controls['username'].errors?.minlength" class="form-control-feeback">Este campo requiere al menos 3 caracteres</div>

            </div>
        </div>
        <div class="form-group row" [ngClass]="{'peligro':!form.get('nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Nombre" name="nombre" formControlName="nombre">
                <div *ngIf="form.controls['nombre'].errors?.required" class="form-control-feeback">Este campo es requerido</div>
                <div *ngIf="form.controls['nombre'].errors?.minlength" class="form-control-feeback">Este campo requiere al menos 3 caracteres</div>

            </div>
        </div>

        <div class="form-group row" [ngClass]="{'peligro':!form.get('apellido').valid}">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">

                <input class="form-control" type="text" placeholder="Apellido" name="apellido" minlength="5" formControlName="apellido">
                <div *ngIf="form.controls['apellido'].errors?.required" class="form-control-feeback">Este campo es requerido</div>
                <div *ngIf="form.controls['apellido'].errors?.minlength" class="form-control-feeback">Este campo requiere al menos 5 caracteres</div>

            </div>
        </div>

    </div>

    <div class="form-group row" [ngClass]="{'peligro':!form.get('correo').valid}">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input id="correo" class="form-control" type="email" placeholder="Correo electrónico" name="correo" formControlName="correo">

        </div>
        <div *ngIf="form.controls['correo'].errors?.required" class="form-control-feeback">Este campo es requerido</div>
        <div *ngIf="form.controls['correo'].errors?.pattern" class="form-control-feeback">Correo no válido</div>


    </div>



    <div class="form-group row">
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
        </div>
    </div>
    {{form.valid}}
    <br> {{form.status}}
</form>-->

<app-navbar></app-navbar>
<app-clientes></app-clientes>